<div class="modal active">
  <div class="content">
    <div class="modal-header">
      <h1 class="modal-title text-center">Adjust grade settings</h1>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="row" ng-repeat="assignment in assignments">
          <label class="five columns control-label">{{assignment.name}}</label>
          <div class="seven columns input-group">
            <input type="text" class="form-control text-right" ng-model="assignment.weight" placeholder="enter weight">
            <span class="input-group-addon" id="basic-addon2">%</span>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="ten columns centered text-center">
        <div class="btn primary medium">
          <a ng-click="ok()">OK</a>
        </div>
        <div class="btn warning medium">
          <a ng-click="cancel()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
