<h1>Student grades</h1>

<div class="row">
  <span>Please select teacher and year</span>
</div>
<div class="row">
  <label class="two columns">Year</label>
  <div class="five columns">
    <select ng-model="select.year" ng-options="year as year for year in years">
      <option value="">Select year</option>
    </select>
  </div>
</div>
<div class="row">
  <label class="two columns">Teacher</label>
  <div class="five columns">
    <select ng-model="select.teacher" ng-options="teacher for teacher in teachers">
      <option value="">Select teacher</option>
    </select>
  </div>
</div>

<h1 class="text-center">select a class section to edit grades</h1>
<div class="row">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        CLASSES
      </th>
      <th>
        SECTIONS
      </th>
    </tr>
    </thead>
    <tbody ng-repeat="classSection in classSectionList">
    <tr ng-repeat="section in classSection.sections">
      <td rowspan="{{classSection.sections.length}}" ng-if="$index == 0">{{classSection.name}}</td>
      <td>
        <a ng-href="#/students/classSections/{{section.id}}">{{section.name}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

